version: "3.8"

services:
  mongodb:
    image: mongo:7.0
    container_name: notification-mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: notification_db
    ports:
      - "27021:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - notification-network

  redis:
    image: redis:7.2-alpine
    container_name: notification-redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - notification-network

  mongo-express:
    image: mongo-express:1.0.0
    container_name: notification-mongo-express
    restart: always
    ports:
      - "8084:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password123
      ME_CONFIG_MONGODB_URL: mongodb://admin:password123@mongodb:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongodb
    networks:
      - notification-network

volumes:
  mongodb_data:
  redis_data:

networks:
  notification-network:
    driver: bridge
