services:
  postgres:
    image: postgres:15-alpine
    container_name: product-service-postgres
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - product-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: product-service-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5051:80"
    depends_on:
      - postgres
    networks:
      - product-network

volumes:
  postgres_data:

networks:
  product-network:
    driver: bridge
